<section class="about" id="about">
  <div class="about__container">
    <h2 class="about__title">Про мене</h2>

    <picture class="about__picture">
      <source
        media="(max-width:1439px)"
        srcset="
          /assets/images/about-me/about-me-img-mob.png,
          /assets/images/about-me/about-me-img-mob-2x.png 2x
        "
      />

      <source
        media="(min-width:1440px)"
        srcset="
          /assets/images/about-me/about-me-img.png,
          /assets/images/about-me/about-me-img-2x.png 2x
        "
      />

      <img
        class="about__img"
        src="/assets/images/about-me/about-me-img.png"
        width="499"
        height="749"
        alt="anna kostroma"
      />
    </picture>

    <div>
      <div class="about__subtitle-container">
        <h3>Анна Кострома</h3>
        <p class="about__text">Засновниця кондитерської Grann Pastry</p>
      </div>
      <div class="about__text-container">
        <p class="about__text">Від хобі до власної справи.</p>
        <p class="about__text">
          Я закінчила DGF International Culinary School в Києві, а згодом
          навчалася в одній з найвідоміших шкіл готельного сервісу і кулінарії в
          світі «Le Cordon Bleu» (Франція).Свою справу почала після того, як
          здобула досвід і працювала в одному з найбільших кондитерських цехів
          Грузії (1500 кв.м.).
        </p>
        <p class="about__text">
          Наразі започаткувала особистий бренд і будую власний кондитерський
          цех.Моя робота мене надихає. Завдяки моїм солодощам, я можу дарувати
          щасливі моменти для вас!
        </p>
      </div>
    </div>
  </div>
</section>
