<section class="faq">
    <h2 class="faq__title">Популярні запитання</h2>
    <div class="faq__accordion-wrapper">
        <button class="faq__accordion">
            <p class="faq__question">Скільки часу потрібно для виготовлення замовлення?</p>               
            <svg class="faq__icon">
                <use href="../images/icons.svg#icon-arrow"></use>
            </svg>
        </button>
        <div class="faq__panel">
            <p class="faq__answer">Замовлення необхідно зробити як мінімум за 3-4 дні до вашого свята.</p>           
        </div>

        <button class="faq__accordion">
            <p class="faq__question">Чи є у вас доставка?</p>
            <svg class="faq__icon">
                <use href="../images/icons.svg#icon-arrow"></use>
            </svg>
        </button>
        <div class="faq__panel">
            <p class="faq__answer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt accusamus quasi quibusdam illo deserunt! Tenetur, atque. Labore necessitatibus quam nam quae nulla fugiat dolores unde amet accusamus reiciendis? Architecto sapiente id impedit alias cumque, voluptatibus temporibus sequi autem fugiat eveniet necessitatibus commodi similique quo praesentium tempora nam odit harum ducimus sunt iure ea. Non, expedita tenetur commodi voluptatem officia saepe vel, reprehenderit sit accusantium tempore alias consequatur eveniet numquam nulla cumque necessitatibus nesciunt. Tempore fuga laudantium labore, tenetur id deleniti sint sapiente eius nobis incidunt repellendus iusto omnis libero voluptates mollitia. Molestias quaerat ut sapiente. Et magnam cumque eaque a?</p>
        </div>

        <button class="faq__accordion">
            <p class="faq__question">Чи готуєте ви торти з мастики?</p>
            <svg class="faq__icon">
                <use href="../images/icons.svg#icon-arrow"></use>
            </svg>
        </button>
        <div class="faq__panel">
            <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusantium aliquid possimus tempora veritatis doloribus omnis cupiditate quidem cumque, quia maxime delectus aperiam, voluptates officia voluptatum debitis hic, sapiente vel et dolore at dolorum est! Voluptatum, ipsam asperiores? Impedit veniam aspernatur perferendis vero quaerat itaque rem nobis explicabo eius dolorem blanditiis sapiente perspiciatis magni, nulla delectus sed molestias nisi cum fuga aperiam provident quidem consequuntur iure sint. Provident iure, facilis blanditiis cumque exercitationem esse aliquam?</p>
        </div>

        <button class="faq__accordion">
            <p class="faq__question">Чи можна їсти ваші торти дітям та вагітним?</p>
            <svg class="faq__icon">
                <use href="../images/icons.svg#icon-arrow"></use>
            </svg>
        </button>
        <div class="faq__panel">
            <p class="faq__answer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, ipsum! Incidunt tenetur expedita iure commodi quaerat blanditiis dolorum alias voluptatem, dolor ab magnam libero? Vero molestiae totam sed, veritatis facere, blanditiis commodi cumque minima id reiciendis, quo ipsum assumenda numquam omnis dicta pariatur dignissimos maiores quas. Quae ab ea enim quo ullam, itaque, neque iure vero nihil quibusdam molestiae harum perferendis quas recusandae! Accusamus vero delectus aliquid amet expedita magni minima mollitia, quod iusto. Optio exercitationem voluptate consequuntur quam neque!</p>
        </div>
       
    </div>

</section>

<!-- https://dev.to/serhatbek/vanilla-javascript-accordion-57e -->
