<section class="feedback">
  <div class="feedback_section">
    <div class="feedback_description">
      <h3 class="feedback_title">Давайте зробимо щось унікальне разом!</h3>
      <p class="feedback_text">
        Ви можете замовити свій власний рецепт десерту, який вам буде до
        вподоби. Заповніть заявку та я зв’яжусь з вами, аби обговорити деталі
        замовлення.
      </p>
    </div>

    <form id="feedbackForm">
      <input type="text" id="name" name="name" placeholder="Ім’я" required />

      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="Номер телефону"
        required
      />

      <textarea
        id="message"
        name="message"
        placeholder="Опишіть ваші побажання"
        required
      ></textarea>

      <button class="feedback_button" type="submit">Надіслати</button>
    </form>
  </div>
</section>
