<footer class="footer">
  <div class="footer__logo-wrap">
    <picture>
      <source
        srcset="/images/footer/grann-logo.png 1x, 
		/images/footer/grann-logo@2x.png 2x"
      />
      <img
        class="footer_logo"
        src="/images/footer/grann-logo.png"
        width="255"
        height="201"
        alt="Grann logo"
      />
    </picture>
  </div>

  <address class="footer__address">
    <ul class="footer__address__list">
      <li class="footer__address__list_item">
        <a
          class="footer_contact"
          href="https://www.google.com/maps/place/Grann/@50.3261841,30.483757,13.25z/data=!4m15!1m8!3m7!1s0x40d4c7fde12d57b3:0x1342f7b3275e66a1!2z0LLRg9C70LjRhtGPINCf0LDRgNGC0LjQt9Cw0L3RgdGM0LrQsCwgMdCwLCDQpdC-0YLRltCyLCDQmtC40ZfQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAwODE3MQ!3b1!8m2!3d50.3266959!4d30.4709294!16s%2Fg%2F11rd29jsrp!3m5!1s0x40d4c718d52609c5:0x1732b14127208552!8m2!3d50.3266959!4d30.4709291!16s%2Fg%2F11rkl85_j3?entry=ttu&g_ep=EgoyMDI0MTAwOS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          rel="noreferrer noopener"
        >
          c. Хотів, вул. Партизанська 1A
        </a>
      </li>
      <li class="footer__address__list_item">
        <a class="footer_contact" href="mailto:kostromaganna@gmail.com">
          Email: kostromaganna@gmail.com
        </a>
      </li>
      <li class="footer__address__list_item">
        <a class="footer_contact" href="tel:+380999876240"
          >Tel: +38(099) 987 62 40</a
        >
      </li>
    </ul>
  </address>

  <section class="footer__links">
    <ul class="footer__socials-list">
      <li class="footer__socials-list_item">
        <a
          class="footer_socials-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer_socials-icon">
            <use href="/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-list_item">
        <a
          class="footer_socials-link"
          href="https://web.telegram.org/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer_socials-icon">
            <use href="/images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-list_item">
        <a
          class="footer_socials-link"
          href="https://web.whatsapp.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer_socials-icon">
            <use href="/images/icons.svg#icon-whatsapp"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer__docs-list">
      <li class="footer__docs-list_item">
        <a
          class="footer_doc-link"
          href="/index.html"
          target="_blank"
          rel="noreferrer noopener"
        >
          Політика конфіденційності
        </a>
      </li>
      <li class="footer__docs-list_item">
        <a
          class="footer_doc-link"
          href="/index.html"
          target="_blank"
          rel="noreferrer noopener"
        >
          Договір оферти
        </a>
      </li>
    </ul>
  </section>
</footer>
