<footer class="footer">
  <div class="footer__logo-wrap">
    <picture>
      <source
        srcset="/images/grann-logo.png 1x, /images/grann-logo@2x.png 2x"
      />
      <img
        class="footer_logo"
        src="/images/grann-logo.png"
        width="255"
        height="201"
        alt="Grann logo"
      />
    </picture>
  </div>

  <address class="footer__address">
    <ul class="footer__address__list">
      <li class="footer__address__list_item">
        <a
          class="footer_contact"
          href="https://www.google.com/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9F%D0%B0%D1%80%D1%82%D0%B8%D0%B7%D0%B0%D0%BD%D1%81%D1%8C%D0%BA%D0%B0,+1%D0%B0,+%D0%A5%D0%BE%D1%82%D1%96%D0%B2,+%D0%9A%D0%B8%D1%97%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+08171/@50.3266959,30.4709294,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4c7fde12d57b3:0x1342f7b3275e66a1!8m2!3d50.3266959!4d30.4709294!16s%2Fg%2F11rd29jsrp?entry=ttu&g_ep=EgoyMDI0MTAwOS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          rel="noreferrer noopener"
        >
          c. Хотів, вул. Партизанська 1A
        </a>
      </li>
      <li class="footer__address__list_item">
        <a class="footer_contact" href="mailto:kostromaganna@gmail.com">
          Email: kostromaganna@gmail.com
        </a>
      </li>
      <li class="footer__address__list_item">
        <a class="footer_contact" href="tel:+380999876240"
          >Tel: +38(099) 987 62 40</a
        >
      </li>
    </ul>
  </address>

  <section class="footer__links">
    <ul class="footer__socials-list">
      <li class="footer__socials-list_item">
        <a
          class="footer_socials-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer_socials-icon">
            <use href="/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-list_item">
        <a
          class="footer_socials-link"
          href="https://web.telegram.org/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer_socials-icon">
            <use href="/images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-list_item">
        <a
          class="footer_socials-link"
          href="https://web.whatsapp.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer_socials-icon">
            <use href="/images/icons.svg#icon-whatsapp"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer__docs-list">
      <li class="footer__docs-list_item">
        <a
          class="footer_doc-link"
          href="/index.html"
          target="_blank"
          rel="noreferrer noopener"
        >
          Політика конфіденційності
        </a>
      </li>
      <li class="footer__docs-list_item">
        <a
          class="footer_doc-link"
          href="/index.html"
          target="_blank"
          rel="noreferrer noopener"
        >
          Договір оферти
        </a>
      </li>
    </ul>
  </section>
</footer>
