<section class="instagram">
  <h3>Instagram</h3>
  <div class="wrapper_gallery" id="wrapper_gallery">
    <ul id="gallery" class="gallery">
      <li class="gallery_item">
        <picture>
          <source
            srcset="
              /assets/images/instagram/1_1x.avif 1x,
              /assets/images/instagram/1_2x.avif 2x
            "
          />
          <img
            src="/assets/images/instagram/1_1x.avif"
            alt="cake"
            width="261"
            height="261"
          />
        </picture>
      </li>
      <li class="gallery_item">
        <picture>
          <source
            srcset="
              /assets/images/instagram/2_1x.avif 1x,
              /assets/images/instagram/2_2x.avif 2x
            "
          />
          <img
            src="/assets/images/instagram/2_1x.avif"
            alt="cake"
            width="261"
            height="261"
          />
        </picture>
      </li>
      <li class="gallery_item">
        <picture>
          <source
            srcset="
              /assets/images/instagram/3_1x.avif 1x,
              /assets/images/instagram/3_2x.avif 2x
            "
          />
          <img
            src="/assets/images/instagram/3_1x.avif"
            alt="cake"
            width="261"
            height="261"
          />
        </picture>
      </li>
      <li class="gallery_item">
        <picture>
          <source
            srcset="
              /assets/images/instagram/4_1x.avif 1x,
              /assets/images/instagram/4_2x.avif 2x
            "
          />
          <img
            src="/assets/images/instagram/4_1x.avif"
            alt="cake"
            width="261"
            height="261"
          />
        </picture>
      </li>
      <li class="gallery_item">
        <picture>
          <source
            srcset="
              /assets/images/instagram/5_1x.avif 1x,
              /assets/images/instagram/5_2x.avif 2x
            "
          />
          <img
            src="/assets/images/instagram/5_1x.avif"
            alt="cake"
            width="261"
            height="261"
          />
        </picture>
      </li>
      <li class="gallery_item">
        <picture>
          <source
            srcset="
              /assets/images/instagram/6_1x.avif 1x,
              /assets/images/instagram/6_2x.avif 2x
            "
          />
          <img
            src="/assets/images/instagram/6_1x.avif"
            alt="cake"
            width="261"
            height="261"
          />
        </picture>
      </li>
    </ul>
  </div>
  <div class="wrapper_pagination">
    <button id="prev">
      <svg width="41" height="8">
        <use href="/assets/images/instagram/instagram.svg#icon-prev"></use>
      </svg>
    </button>
    <div class="wrapper_ellipses">
      <div class="ellipses"></div>
      <div class="ellipses"></div>
      <div class="ellipses"></div>
      <div class="ellipses"></div>
      <div class="ellipses"></div>
      <div class="ellipses"></div>
    </div>
    <button id="next">
      <svg width="41" height="8">
        <use href="/assets/images/instagram/instagram.svg#icon-next"></use>
      </svg>
    </button>
  </div>
  <div class="wrapper_btn">
    <svg width="80" height="94" class="svg_1">
      <use href="/assets/images/instagram/instagram.svg#icon-Vector-36"></use>
    </svg>
    <a
      href="https://www.instagram.com/"
      target="_blank"
      rel="noreferrer noopener"
      >Завітати на сторінку</a
    >
    <div class="svg_2">
      <svg width="30" height="28">
        <use href="/assets/images/instagram/instagram.svg#icon-Vector-34"></use>
      </svg>
      <svg width="27" height="13">
        <use href="/assets/images/instagram/instagram.svg#icon-Vector-35"></use>
      </svg>
    </div>
  </div>
</section>
