@import url('./reset.scss');
@import url('./header.scss');
@import url('./hero.scss');
@import url('./dessert-types.scss');
@import url('./bestsellers.scss');
@import url('./why-us.scss');
@import url('./delivery.scss');
@import url('./about.scss');
@import url('./feedback.scss');
@import url('./faq.scss');
@import url('./instagram.scss');
@import url('./order.scss');
@import url('./footer.scss');

:root {
  --main-brown: #705a66;
  --main-white: #f5f7f8;
  --main-pastel: #f5eee0;
  --secondary-white: #ffffff;
  --secondary-pastel: #ddd5c6;
}
