@import './fonts.scss';
$main-brown-color:#705A66;




.order__container{
    max-width: 100% ;
    width: 375px ;
    margin: 24px 10px 120px 10px ;
}

.order-form{
    display: flex;
    flex-direction: column;
}